%h1 Add snippet

= form_tag '/configure', :method => 'post' do
  = field_set_tag do
    %p
      = label_tag :name
      = text_field_tag :name
    %p
      = label_tag :tags
      = text_field_tag :tags
    %p
      = label_tag :template
      = text_area_tag :template, :class => 'composearea'
    %p
      = submit_tag "Submit"

    
