%h1 Add snippet


= form_tag '/configure', :method => "POST" do
  = field_set_tag do
    %p
      %label Name
      = text_field :name
    %p
      %label Tags
      = text_field :tags
      
    %p
      %label Template
      %br
      %textarea{:name => "template", :class => "composearea"}
    %p
      = submit_tag

    
