%h1 Add snippet


= form_tag '/snippets/configure', :method => "POST" do
  = field_set_tag do
    %p
      %label Name
      %br
      = text_field :name
    %p
      %label Keywords
      %br
      = text_field :keywords
      
    %p
      %label Snippet
      %br
      = textarea :name => "snippet", :class => "composearea"
    %p
      = submit_tag

    
